%p
  All code on this site may be considered in the public domain, unless otherwise noted.  All photos on this site, unless otherwise noted, are property of Kyle Heneman and may not be used without permission.