%p
  * Twitter:
  = link_to '@KyleHeneman', 'http://twitter.com/KyleHeneman', :target => '_blank'
%p
  * Email:
  = mail_to 'holla@kyleheneman.info'
%p
  * Github:
  = link_to 'Heneman', 'https://www.github.com/Heneman', :target => '_blank'